@model Dari.tn.Models.Insurance

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<h2>Create</h2>

<h4><a target=”_blank” href="https://www.star.com.tn/index.php/ar">STAR</a></h4>
<h4><a target=”_blank2” href="https://www.biat.com.tn/">BIAT</a></h4>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
