
@{
    ViewBag.Title = "BetweenStuff";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}


<h2>Search between prices</h2>


<form method="post" action="BetweenStuff2">
    Enter price between <input type="text" id="from" name="from" /> and <input type="text" id="to" name="to" />
    <input type="submit" value="Submit" />
</form>







