
@{
    ViewBag.Title = "Between";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}


<h2>Search</h2>


<form method="post" action="Between2">
    Enter price:- <input type="text" id="price" name="price" />
    <input type="submit" value="Submit" />
</form>





