
@{
    ViewBag.Title = "GlobalSearch";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<h2>Search by Key word</h2>


<form method="post" action="GlobalSearch2">
    Search by key workd :- <input type="text" id="name" name="name" />
    <input type="submit" value="Submit" />
</form>