
@{
    ViewBag.Title = "Mail";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h2>Mail</h2>


<h2>Sending an Email</h2>

<legend>Send</legend>
<form method="post" action="Mail2">
    send mail to <input type="text" id="mail" name="mail" />
    <input type="submit" value="Submit" />
</form>








