
@{
    ViewBag.Title = "SaveHistory";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<h2>Search</h2>

<legend>Searching with paramaters</legend>
<form method="post" action="SaveHistory2">
    search with <br />
    name <input type="text" id="name" name="name" /><br />
    description <input type="text" id="description" name="description" /><br />
    price <input type="text" id="price" name="price" /> dinars<br />
    level <input type="text" id="levelNb" name="levelNb" /><br />
    space <input type="text" id="space" name="space" /> meters <br />
    chamNb <input type="text" id="chamNb" name="chamNb" /> chambers<br />

    <input type="submit" value="Submit" />
</form>











