
@{
    ViewBag.Title = "SeachByName";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<h2>Search by name</h2>


<form method="post" action="SearchByName2">
    Enter Name:- <input type="text" id="name" name="name" />
    <input type="submit" value="Submit" />
</form>